@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #ebe1c5;
    --cor1: #569974;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    margin-bottom: 0px;
    color: aliceblue;
    text-align: center;
    min-height: 150px;

}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
}

header p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.438);
}
nav > a{
    padding: 10px;
    color: #00ff73;
    text-decoration: none;
}
nav > a:visited{
    color: #00ff73;
}

nav > a:hover{
   color: var(--cor5);
   background-color: var(--cor2);
}

nav > a:active{
    color: white;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: #3ddc856e;
    padding: 2px 5px;
}

main a:hover{
    color: var(--cor2);
    background-color: var(--cor5);
}

main img{
    width: 100%;
    
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main iframe{
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

main > h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main > h2{
    font-family: var(--fonte-android);
}
aside{
    background-color: var(--cor1);
    border-radius: 10px;
    text-indent: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}

aside > h3{
    background-color: var(--cor4);
    color: aliceblue;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; /*esse 00A0 é espaço em branco*/
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--cor3);
    padding-top: 5px;
}

footer a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor5);
}

